<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python | Expresiones

    </title>
</head>
<body>
    <h1>Expresiones matemáticas</h1>
    <p>La base del triángulo es de {{ bade }} metros y la altura es de {{ altura }} metros.</p>
    <p>El área del triángulo es de  {{ (base * altura) / 2 }} metros cuadrados.</p>

    <h2>Concatenación de Strings</h2>
    <p>Bienvenido(a) {{ nombre + " " + apellido }}</p>
</body>
</html>