<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python | Formulario</title>
</head>
<body>
    <h1>Formulario</h1>
    <h2>Ejemplo de entrada de datos con Flask</h2>

    <form class="form" method="post">
        <label for="nombre" class="form-label"> Nombre:</label>
        <input id="nombre" type="text" name="nombre">
        <button type="submit" class="form-submit">Enviar</button>
    </form>

    {% if nombre %}
        <h2>Hola, {{ nombre }}</h2>
    {% endif %}
</body>
</html>