<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python | Usuarios</title>
</head>
<body>
    {% set name = "Susananita" %}
    {% set numero_usuarios = usuarios | length %}
    {% set unidos = usuarios | join %}
    <h1>Usuarios</h1>
    {% if numero_usuarios > 0 %}
        <p>Se encontraron {{ numero_usuarios }}</p>

        <ul>
            {% for usuario in usuarios %}
                <li>
                    {{ usuario }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron usuarios</p>
    {% endif %}

    <p>{{ unidos }}</p>
</body>
</html>